body {
	background-color: #40C4FF;
}

h1 {
	text-align: center;
	color: white;
	font-size: 80px;
	font-family: Avenir, Sans-Serif;
	padding: 0px;
	margin: 10px;
}
div {
	height: 100vh;
	width: 100vw;
}